<%- include('header') %>

<div align="center" class="mt-5">
    <img src="/assets/img/cart.jpg" alt="#" class="img-fluid">
    <h5 style="font-family:Verdana, Geneva, Tahoma, sans-serif ; font-style:normal;font-weight: bolder;color: rgb(255, 60, 0);">Oops! Your cart is Empty</h5>
</div>

<%- include('footer') %>