    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_iner">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                
                    
                </div>
            </div>
        </div>
        
       
    </footer>
    <!--::footer_part end::-->

     <!-- Add the jQuery library -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
     <!-- Add the toastify-js JavaScript file -->
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
 

    <!-- jquery plugins here-->
    <script src="./assets/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="./assets/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- magnific popup js -->
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    <!-- carousel js -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="./assets/js/custom.js"></script>


   
</body>

</html>